{% extends 'base.html' %}

{% block body%}


    
    <div class="container">
   
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary h1">{{post.name}}</strong>
            <h3 class="mb-0"><span class="mb-0 h2 text-success">Course: </span>{{post.course}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto"><mark>{{post.name| truncatechars:500}} </mark>successfully completed training : {{post.course}} course</p>
            <div class="my-2">

           {% comment %} <div class="fb-comments" data-href="http://127.0.0.1:8000/myproject2/allmessage/{{post.id}}" data-width="" data-numposts="5"></div> {% endcomment %}
           {% comment %} <div class="fb-like" data-href="http://127.0.0.1:8000/myproject2/allmessage/{{post.id}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div> {% endcomment %}
       
        </div>
        
        </div>
        <img src="{{post.image.url}}" class="p-3" style=" max-width: 20%; max-height:50%;">
         

        </div>

 {% endblock %}