{% extends 'base.html' %}

{% comment %} {% block title %} Search Results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}  {% endcomment %}


{% block body %}

<div class="container my-3">
    <h2>Search results : </h2>
    {% if allPosts|length < 1 %}
   <p>No search results</p>
    Your search query : <b>{{query}}</b> did not match any documents. <br>
    Suggestions:
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
    </li>
    </ul>


    {% endif %}
    {% comment %} <div class="container">
    {% for post in allPosts  %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary h1">{{post.name}}</strong>
            <h3 class="mb-0"><span class="mb-0 h2 text-success">Course: </span>{{post.course}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto"><mark>{{post.name| truncatechars:500}} admission no: </mark>{{post.admission_no}}</p>
            <div class="my-2">
            <a href="/{{post.sno}}" role="button" class="btn btn-primary">Continue reading</a>

       
        </div>
        
        </div>
   

        <img src="{{post.image.url}}" class="p-3" style=" max-width: 20%; max-height:50%;">
         
         {% endfor %}
        </div>
        </div> {% endcomment %}
{% comment %} 
{% for post in allPosts  %}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary h1">{{post.name}}</strong>
            <h3 class="mb-0"><span class="mb-0 h2 text-success">Course: </span>{{post.course}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto"><mark>{{post.name| truncatechars:500}} admission no: </mark>{{post.admission_no}}</p>
            <div class="my-2">
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
           {% endfor %} {% endcomment %}
           <div class="container ml-5">
{% for post in allPosts  %}
           <div class="  mw-100 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{post.name}}</strong>
            <h3 class="mb-0"><span class="mb-0 h2 text-success">Course: </span>{{post.course}}</h3>
          <div class="mb-1 text-muted">{{post.created_at}}</div>
            <p class="card-text mb-auto"><mark>{{post.name| truncatechars:500}} admission no: </mark>{{post.admission_no}}</p>
          <a href="/{{post.sno}}" role="button" class="btn btn-primary w-50">Continue reading</a>
        </div>
       
    <img src="{{post.image.url}}" class="p-3" style=" max-width: 20%; max-height:50%;">


        </div>
      </div>
      </div>
          {% endfor %}
 {% endblock %}